In [2]:
## Reginald Edwards
## 23 July 2018
##
## Generate features for earnings forecasts

In [11]:
import pandas as pd
import numpy as np

In [4]:
## Load data from CSV file 
fundq = pd.read_csv("../../0_datasets/comp_fundq.csv")
fundq[:3]

,Unnamed: 0,gvkey,fyearq,fyr,datacqtr,datafqtr,datadate,tic,conm,apq,...,revtq,saleq,xsgaq,spiq,seqq,qtr,sich,qtr.lag1,gap,epspxq.lead1
0,24,1000,1971,12,1971Q4,1971Q4,19711231,AE.2,A & E PLASTIK PAK INC,4.326,...,7.872,7.872,7.956,0.00,8.381,48,NaN,NaN,NaN,0.12
1,27,1000,1972,12,1972Q4,1972Q4,19721231,AE.2,A & E PLASTIK PAK INC,2.768,...,8.918,8.918,7.551,0.00,7.021,52,NaN,48.0,4.0,0.11
2,35,1000,1974,12,1974Q4,1974Q4,19741231,AE.2,A & E PLASTIK PAK INC,4.183,...,11.397,11.397,8.859,-0.58,10.257,60,NaN,52.0,8.0,0.27

In [36]:
## create market value variable
fundq['mktval'] = fundq['prccq']*fundq['cshoq']
fundq['mktval'].describe()

count    857472.000000
mean       2663.955355
std       13877.948062
min           0.000000
25%          49.314750
50%         197.647562
75%         938.042469
max      859967.798730
Name: mktval, dtype: float64

In [35]:
fundq[['gvkey', 'datafqtr', 'prccq', 'cshoq', 'mktval']][:10]

   gvkey datafqtr  prccq  cshoq    mktval
0   1000   1971Q4  5.750  2.995  17.22125
1   1000   1972Q4  5.125  2.902  14.87275
2   1000   1974Q4  2.125  2.150   4.56875
3   1000   1975Q4  4.375  2.098   9.17875
4   1000   1976Q1  6.750  2.096  14.14800
5   1000   1976Q2  7.250  2.163  15.68175
6   1000   1976Q3  7.125  2.172  15.47550
7   1000   1976Q4  5.750  2.207  12.69025
8   1000   1977Q1  6.250  2.209  13.80625
9   1000   1977Q2  6.500  2.223  14.44950

In [34]:
# preferred stock
fundq['pstk_new'] = fundq.pstkrq.combine_first(fundq.pstkq)
fundq['pstk_new'].fillna(0, inplace = True)
fundq['pstk_new'].describe()

count    881685.000000
mean          5.521500
std          84.242326
min        -372.131000
25%           0.000000
50%           0.000000
75%           0.000000
max       22250.000000
Name: pstk_new, dtype: float64

In [33]:
fundq['txditcq'].fillna(0, inplace = True)
fundq['be'] = fundq['seqq'] + fundq['txditcq'] - fundq['pstk_new']
fundq['be'].describe()

count    880793.00000
mean       1327.99206
std        7218.03547
min      -85591.00000
25%          28.98300
50%         110.66900
75%         499.15800
max      404478.00000
Name: be, dtype: float64

In [46]:
# book-to-market
fundq['bm'] = fundq['be']/(fundq['mktval'])
fundq = fundq[fundq['mktval'] > 0]
fundq = fundq[fundq['be'] > 0]
fundq['bm'].describe()

count    839512.000000
mean          1.970268
std         324.508774
min           0.000002
25%           0.355545
50%           0.627679
75%           1.010484
max      268531.889877
Name: bm, dtype: float64

(857459, 72)